name: Rust CI without Cargo

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Compile Rust program
      run: rustc codeforces/main.rs -o codeforces/my_program

    - name: Run Rust program
      run: ./codeforces/my_program
